<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark">
        <div class="container">
            <a class="navbar-brand" href="#">P411 Template</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse custom-nav" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" aria-current="page" href="#">Home</a>
                    <a class="nav-link" href="#">Features</a>
                    <a class="nav-link last-before-button" href="#">Pricing</a>
                    <a href="#" class="nav-link btn btn-success">Buy now<span class="lnr lnr-arrow-right"></span></a>
                </div>
            </div>
        </div>
    </nav>

    <section id="banner">
        <div class="container">
            <div class="row">
                <div class="col-md-7 d-flex align-items-center">
                    <div class="w-100">
                        <h1 class="text-light mb-3">
                            <b>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, quasi?
                            </b>
                        </h1>
                        <p class="text-light mb-5">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non, fuga! Hic commodi excepturi
                            omnis
                            placeat molestiae architecto laboriosam distinctio, consequatur reprehenderit at. Obcaecati
                            natus nulla quis voluptas vel laudantium temporibus magni quia cum! Pariatur animi, harum
                            fuga
                            in numquam rem.
                        </p>
                        <a href="#" class="btn btn-success">Contact us <span class="lnr lnr-arrow-right"></span></a>
                        <a href="#" class="btn btn-link">Documentation</a>
                    </div>
                </div>
                <div class="col-md-5">
                    <img src="img/banner.svg" class="w-100">
                </div>
            </div>
        </div>
    </section>
    <section id="features">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-4 feature">
                    <span class="lnr lnr-diamond icon mb-4"></span>
                    <h2>Lorem, ipsum.</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis hic sequi ea perferendis
                        fuga inventore recusandae assumenda itaque aliquid ullam.
                    </p>
                </div>
                <div class="col-md-4 feature">
                    <span class="lnr lnr-sun icon mb-4"></span>
                    <h2>Lorem, ipsum.</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis hic sequi ea perferendis
                        fuga inventore recusandae assumenda itaque aliquid ullam.
                    </p>
                </div>
                <div class="col-md-4 feature">
                    <span class="lnr lnr-moon icon mb-4"></span>
                    <h2>Lorem, ipsum.</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis hic sequi ea perferendis
                        fuga inventore recusandae assumenda itaque aliquid ullam.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div style="padding-right: 50px;">
                        <img src="img/about.jpg" class="w-100 rounded">
                    </div>
                </div>
                <div class="col-md-6 d-flex align-items-center">
                    <div class="w-100">
                        <h4>Lorem ipsum dolor sit amet.</h4>
                        <p class="main-parag">When you purchase this UI Kit, you get access to a robust suite of
                            powerful tools and components to help you build your next landing page quickly and easily.
                        </p>
                        <div class="row">
                            <div class="col-6 about-small-item">
                                <h6>Page Examples</h6>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium dolor suscipit.
                                </p>
                                <a href="#">
                                    Learn More
                                    <span class="lnr lnr-arrow-right"></span>
                                </a>
                            </div>
                            <div class="col-6 about-small-item">
                                <h6>Page Examples</h6>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium dolor suscipit.
                                </p>
                                <a href="#">
                                    Learn More
                                    <span class="lnr lnr-arrow-right"></span>
                                </a>
                            </div>
                            <div class="col-6 about-small-item">
                                <h6>Page Examples</h6>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium dolor suscipit.
                                </p>
                                <a href="#">
                                    Learn More
                                    <span class="lnr lnr-arrow-right"></span>
                                </a>
                            </div>
                            <div class="col-6 about-small-item">
                                <h6>Page Examples</h6>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium dolor suscipit.
                                </p>
                                <a href="#">
                                    Learn More
                                    <span class="lnr lnr-arrow-right"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="pricing">
        <div class="container">
            <h2 class="text-center">Lorem ipsum.</h2>
            <p class="text-center mb-5">Lorem ipsum dolor sit amet.</p>
            <div class="row">
                <div class="col-md-4">
                    <div class="pricing-item">
                        <span class="badge rounded-pill bg-light text-dark">Free</span>
                        <h2 class="pricing">
                            <span>$</span>
                            0/mo
                        </h2>
                        <ul>
                            <li>Community support</li>
                            <li>Custom components</li>
                            <li>Third-party integration</li>
                            <li>Community support</li>
                            <li>Custom components</li>
                            <li>Third-party integration</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="pricing-item">
                        <span class="badge rounded-pill bg-light text-dark">Free</span>
                        <h2 class="pricing">
                            <span>$</span>
                            0/mo
                        </h2>
                        <ul>
                            <li>Community support</li>
                            <li>Custom components</li>
                            <li>Third-party integration</li>
                            <li>Community support</li>
                            <li>Custom components</li>
                            <li>Third-party integration</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="pricing-item">
                        <span class="badge rounded-pill bg-light text-dark">Free</span>
                        <h2 class="pricing">
                            <span>$</span>
                            0/mo
                        </h2>
                        <ul>
                            <li>Community support</li>
                            <li>Custom components</li>
                            <li>Third-party integration</li>
                            <li>Community support</li>
                            <li>Custom components</li>
                            <li>Third-party integration</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="faq">
        <div class="container">
            <div class="row">
                <div class="col-md-6 question">
                    <div class="row">
                        <div class="col-1">
                            <span>?</span>
                        </div>
                        <div class="col-11">
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque, adipisci?</p>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi iusto, aspernatur
                                animi illo pariatur amet, quae explicabo cum enim, a eveniet praesentium accusamus
                                architecto maiores?</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 question">
                    <div class="row">
                        <div class="col-1">
                            <span>?</span>
                        </div>
                        <div class="col-11">
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque, adipisci?</p>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi iusto, aspernatur
                                animi illo pariatur amet, quae explicabo cum enim, a eveniet praesentium accusamus
                                architecto maiores?</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 question">
                    <div class="row">
                        <div class="col-1">
                            <span>?</span>
                        </div>
                        <div class="col-11">
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque, adipisci?</p>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi iusto, aspernatur
                                animi illo pariatur amet, quae explicabo cum enim, a eveniet praesentium accusamus
                                architecto maiores?</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 question">
                    <div class="row">
                        <div class="col-1">
                            <span>?</span>
                        </div>
                        <div class="col-11">
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque, adipisci?</p>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi iusto, aspernatur
                                animi illo pariatur amet, quae explicabo cum enim, a eveniet praesentium accusamus
                                architecto maiores?</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6 text-center">
                    <span class="badge rounded-pill bg-secondary">Get Started</span>
                    <h4 class="my-4">Lorem ipsum dolor sit amet.</h4>
                    <p class="mb-5">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab blanditiis sed fugiat nulla aliquid
                        dicta ratione provident nemo placeat repellat.
                    </p>
                    <a href="#" class="btn btn-success">Buy Now</a>
                </div>
            </div>
        </div>
    </section>
    <section id="testimonials">
        <div class="container">
            <div class="row">
                <div class="col-md-6 border-end">
                    <img src="img/google.svg" class="d-inline-block" alt="">
                    <img src="img/google.svg" class="d-inline-block ms-5"alt="">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi voluptate ipsam veritatis sit
                        optio voluptatem eligendi sunt nisi. Ut accusantium libero incidunt dignissimos repellat.
                        Incidunt atque laborum quaerat culpa nulla.
                    </p>
                </div>
                <div class="col-md-6">
                    <img src="img/insta.svg" alt="">
                </div>
            </div>
        </div>
    </section>
</body>

</html>